---
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const data = await fetch("https://kea-alt-del.dk/t7/api/products").then((response) => response.json());

  return data.map((product) => {
    return {
      params: { id: product.id },
      props: { product },
    };
  });
}

const { id } = Astro.params;
const { product } = Astro.props;
---

<Layout classes=".grid_1-1-1">
  <main class="gridProdukt_1-1">
    <img src=`https://kea-alt-del.dk/t7/images/webp/640/${id}.webp` alt="product image" />
    {product.soldout > 0 ? <div class="SoldOut_product">Sold Out</div> : ""}
    <div>
      <h3>{product.productdisplayname}</h3>
      {
        product.discount > 0 ? (
          <>
            <span class="old_price"> {product.price} DKK</span>
            <br />
          </>
        ) : (
          ""
        )
      }
      {
        product.discount < 0 ? (
          <>
            <p class="old_price">{product.price} DKK</p>
            <br />
          </>
        ) : (
          ""
        )
      }
      <p class="new_price">{Math.round(product.price * (1 - product.discount / 100))} DKK</p><br />
      {
        product.discount > 0 ? (
          <>
            <p class="discountlabel_product"> {product.discount} %</p>
            <br />
          </>
        ) : (
          ""
        )
      }
      <p>Type: {product.usagetype}</p>
      <p class="size">Size</p>
      <section class="grid_1-1-1">
        <p>XS</p>
        <p>S</p>
        <p>M</p>
        <p>L</p>
        <p>XL</p>
        <p>XXL</p>
      </section>
      <p class="InventoryNr">Inventory Number: {id}</p>
      <p class="AddToBasket">ADD TO BASKET</p>
    </div>
  </main>
</Layout>
